/**
 * This file contains layout instructions for Hulk text inputs
 */
#editor .hulk-map-pair, #editor .hulk-array {
  margin: 1rem;
  border: 1px solid black}

#editor .hulk-separator {
  position: relative;
  bottom: 5px;
  display: inline-block; }

#editor button{
  border: 2px solid grey;
  border-radius: 5px;
  background: lightgrey;
  font-size: 15px;
  line-height: 15px;
  height: 30px;
}
#editor input{
  border: 2px solid grey;
  border-radius: 5px;
  background: lightgrey;
  font-size: 15px;
}
#editor button, #editor input{
  margin: 1rem;
}